<button class="btn btn--text-icon">
    {{> atoms-icon icon="fa-home icon--outline-circle icon--color-primary fa--circle fa-2x" }}
    {{>atoms-label text="Home" class="label label--primary label-size--md"}}
</button>