<div class="form-group">
    {{#with label}}
        {{>atoms-label}}
    {{/with}}
    {{#with input}}
        {{#if text}}
            {{>atoms-text-input}}
        {{/if}}
        {{#if select}}
            {{>atoms-select}}
        {{/if}}
        {{#if checkbox}}
            {{>atoms-checkbox}}
        {{/if}}
    {{/with}}
    {{#with error}}
        {{>atoms-error}}
    {{/with}}
</div>