<div class="form-group">
    {{#unless input.checkbox}}
        {{#with label}}
            {{>atoms-label class="form-group__label"}}
        {{/with}}
    {{/unless}}
    {{#with input}}
        {{#if text}}
            {{>atoms-text-input}}
        {{/if}}
        {{#if select}}
            {{>atoms-select}}
        {{/if}}
        {{#if checkbox}}
            {{>atoms-checkbox}}
        {{/if}}
        {{/with}}
        {{#with error}}
            {{>atoms-error}}
        {{/with}}
</div>