<label class="radio-button">
  <input type="radio" name="myRadio" value="Option1">
  <span>Option 1</span>
</label>
<label class="radio-button">
  <input type="radio" name="myRadio" value="Option2">
  <span>Option 2</span>
</label>