<button class="btn btn--text-icon">
    {{> atoms-icon icon="fa-user icon--outline-circle icon--color-grey fa--circle fa-2x" }}
    {{>atoms-label text="Profile" class="label label-grey label-size--md"}}
</button>