	<script src="../../js/production.min.js"></script>

	<!--<Deject>-->
	<!--DO NOT REMOVE-->
	{{{ patternLabFoot }}}
	<!--</Deject>-->

	</body>
	<script src="/path/to/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>
