<div class="quick-filters-bar">
    {{> molecules-quick-filter text="New" classes="btn quick-filter__button quick-filter__button--active"}}
    {{> molecules-quick-filter text="Today" classes="btn quick-filter__button"}}
    {{> molecules-quick-filter text="This week" classes="btn quick-filter__button"}}
    {{> molecules-quick-filter text="Private" classes="btn quick-filter__button"}}
</div>