<ul class="icon-grid">
    {{#each icons as |icon| }}
    <li class="icon-grid__item">
        {{> atoms-icon }}
        <span class="icon-grid__label">{{ icon.icon }}</span>
    </li>
    {{/each}}
</ul>