<div class="avatar-stack {{sizeClass}}">
  {{#each imagePaths}}
    <img src="{{this}}" class="avatar" alt="User Avatar">
  {{/each}}
  {{#if totalAmount}}
    <span class="avatar-total">{{totalAmount}}+</span>
  {{/if}}
</div>