<div class="page">
    <div class="content">
        <div class="card">
            {{>atoms-icon-button icon="fa fa-2x fa-times" class="btn btn--icon btn--primary btn--lg"}}
        </div>
    </div>
</div>