<div class="event-card">
    <div class="event-card__row">
        <div class="event-card__column event-card__column--left">
            <img src="../../assets/images/events/event-1.png" data-event-image="" class="event-card__image"
                alt="Image Event">
        </div>
        <div class="event-card__column event-card__column--right">
            <span class="event-card__title" data-event-title="">11.07 @5.00 AM</span>
            <span class="event-card__title" data-event-title="">Йога в парку на світанку</span>
            <span class="event-card__title" data-event-title="">Маріїнський парк</span>
            <span class="event-card__text" data-event-description="">Some quick example text to build on the card title
                and make up the bulk of the
                card's content.</span>
        </div>
    </div>

    <div class="event-card__row event-card__row--bottom">
        <div class="event-card__column">
            <a href="#" class="btn btn-primary btn-sm">Button</a>
        </div>
        <div class="event-card__column">
            <a href="#" class="btn btn-primary btn-sm">Button</a>
        </div>
    </div>
</div>