<div class="event-card">
    <div class="event-card__row" >
        <div style="height: 136px; width: 136px; background-color: red;"></div>
        <div style="background-color: blue; flex-grow: 1"></div>
    </div>
    <div class="event-card__row event-card__row--actions" style="background-color: green;"></div>
</div>