{{#each groups as |group| }}
<div>
    <h2>{{ group.name }}</h2>
    <ul class="icon-grid">

        {{#each group.labels as |label| }}
        <li class="icon-grid__item">
            {{> atoms-label }}
            <span class="icon-grid__label">label {{ label.class }}</span>
        </li>
        {{/each}}

    </ul>
</div>
{{/each}}