// Mixin for creating a gradient background
@mixin gradient-bg($color1, $color2, $angle: 232deg, $start: 31.4%, $end: 122.19%) {
  background: linear-gradient($angle, $color1 $start, $color2 $end);
}

// Base button styles
.btn {
  font-family: "JostBold", sans-serif;
  font-size: 16px;
  text-decoration: none !important;
  text-transform: uppercase;
  border-radius: 20px;
  min-width: 120px;
  height: 40px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.9s ease;

  // Size variants
  &.btn-lg { margin: 0 auto; width: 100%; }
  &.btn-md { width: 50%; margin: auto 0; }
  &.btn-sm { font-size: 11px; width: 98px; height: 28px; }

  // Primary variant
  &-primary {
    @include gradient-bg($color-primary, $color-secondary);
    border-radius: map-get($map: $radiuses, $key: "xl") !important;
    color: $color-white;

    &:hover { background: $gradient-primary-hover; opacity: 0.9; }
    &:active { background: $gradient-primary-pressed; }
    &:disabled {
      background: $color-dark-grey-20;
      color: $color-dark-grey-70;
      cursor: not-allowed;
    }
  }

  // Default variant
  &-default {
    color: $color-primary !important;
    background: $color-bg;
    &:hover { background: $gradient-default-hover; }
    &:active { background: $gradient-default-pressed; }
  }

  // Text button variant
  &.btn-text {
    background: none !important;
    color: $color-primary !important;
    display: flex !important;
    align-items: center;
    justify-content: center;

    &:hover { background-color: $color-bg-text-hover !important; }
    &:active { background-color: $color-bg-text-pressed !important; }
    &:disabled { color: $color-dark-grey-40 !important; }

    &.btn-light { color: $color-dark-grey-70 !important; }
    &.btn-dark {
      color: $color-white !important;
      background-color: $color-dark-grey !important;
    }
  }
}

// Icon button variant
.btn--icon {
  @extend .btn; // Extend .btn to include base styles
  padding: 0;
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: none;

  &:hover, &:active { background: $gradient-default-hover; }
  .fa{
    height: 40px;
    width: 40px;
  }
}

// Button group container
.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  &--full-width { width: 100%; justify-content: space-between !important; }
  &--column { flex-direction: column; }
}

// Text icon button variant
.btn--text-icon { @extend .btn; @extend .btn-text; }