@mixin gradient-bg(
  $color1,
  $color2,
  $angle: 232deg,
  $start: 31.4%,
  $end: 122.19%
) {
  background: linear-gradient($angle, $color1 $start, $color2 $end);
}

.btn {
  font-family: "JostBold", sans-serif;
  font-size: 16px;
  text-decoration: none !important;
  text-transform: uppercase;
  border-radius: 20px;
  min-width: 120px;
  height: 40px;
  border: none;
  cursor: pointer;

  &.btn-lg {
    margin: 0 auto;
    width: 100%;
  }

  &.btn-md {
    width: 50%;
    margin: auto 0;
  }

  &.btn-sm {
    font-size: 11px;
    width: 98px;
    height: 28px;
  }

  &-primary {
    padding: 10px 20px;
    border: none;
    color: $color-white;
    transition: background-color 0.3s ease-in-out;
    @include gradient-bg($color-primary, $color-secondary);
    border-radius: map-get($map: $radiuses, $key: "xl") !important;
    // Hover state
    &:hover {
      background: $gradient-primary-hover;
      opacity: 0.9;
    }

    // Active/Pressed state
    &:active {
      background: $gradient-primary-pressed;
    }

    // Disabled state
    &:disabled {
      background: $color-dark-grey-20;
      color: $color-dark-grey-70;
      cursor: not-allowed;
    }
  }

  &-default {
    color: $color-primary !important;
    background: $color-bg;

    &:hover {
      background: $gradient-default-hover;
    }

    &:active {
      background: $gradient-default-pressed;
    }
  }

  &.btn-text {
    background: none !important;
    color: $color-primary !important;
    font-size: 16px;
    font-weight: bold !important;
    cursor: pointer;
    padding: 10px 20px;
    transition: color 0.9s ease;
    display: flex !important;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $color-bg-text-hover !important;
    }

    &:active {
      color: $color-primary;
      background-color: $color-bg-text-pressed !important;
    }

    &:disabled {
      border: none;
      color: $color-dark-grey-40 !important;
    }

    &.btn-light {
      color: $color-dark-grey-70 !important;
    }

    &.btn-dark {
      color: $color-white !important;
      background-color: $color-dark-grey !important;
    }
  }
}

// TODO: Add more button styles for different button types
.btn--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
  &:hover {
    background: $gradient-default-hover;
  }

  &:active {
    background: $gradient-default-pressed;
  }
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-group--full-width {
  width: 100%;
  justify-content: space-between !important;
}

.btn-group--column {
  flex-direction: column;
}

.btn--text-icon {
  border: none !important;
  background-color: transparent;
  width: fit-content !important;
  height: fit-content !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
