@mixin blur(){
    background-color: rgba(255, 255, 255, 0.4); //var
    background-blend-mode: saturation;
    backdrop-filter: blur(15px); //var
  }

@mixin shadow(){
    box-shadow: 15px 15px 15px 0px rgba(194, 194, 194, 0.1) inset; //var
}