.feed {
  padding: 12px;
  height: auto;
}

.event-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid $color-dark-grey-40;
  border-radius: 8px;
  margin-bottom: 16px;
  gap: 4px;

  @include effect-style-shadow-on-a-card();

  &__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 12px;

    &--wide {
      align-items: center;
      justify-content: space-between;
    }

    &--actions {
      flex-basis: 80px;
      align-items: center;
      padding: 8px;
    }
  }

  &__column {
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span {
      text-overflow: ellipsis;
    }

    &--left {
      flex-grow: 0;
      flex-basis: auto;
      justify-self: start;
    }

    &--right {
      flex-grow: 1;
      flex-basis: 100%;
    }
  }

  &__image {
    width: 132px;
    height: 132px;
    border-radius: 8px 0 0 0;
  }
}
