.image-container {
    width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;

    &.image-bottom-select-option {
        height: 46%;
        overflow-y: clip;

        img {
            width: 121%;
            transform: translate(-12%, 18%);
        }
    }
}

.img-stars {
    top: 5%;
    width: 100%;
}

.img-background-stars {
    background-image: url("/assets/images/shared/stars.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}