html,
body {
  height: 0;
  margin: 0;
  padding: 0;
}

.page {
  height: 100vh;
}

.page-auth {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    min-height: 100vh;

    &--primary {
      background: var(
        --Orange-gradient-1,
        linear-gradient(232deg, $color-primary 31.4%, $color-secondary 122.19%)
      );
      justify-content: space-around;
      min-height: 50%;
    }
    &--shift-up {
      position: relative;
      top: -120px;
      padding: 0 2rem;
    }
  }

  &__logo {
    display: flex;
    margin-top: 54px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url(/assets/images/shared/stars.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    img {
      z-index: 99;
      max-width: 70%;
      width: auto;
      height: auto;
    }
  }
  &__form {
    padding: 1rem;
    z-index: 100;
    fill: rgba(255, 255, 255, 0.2);
    box-shadow: 15px 15px 15px 0px rgba(255, 255, 255, 0.3) inset;
    backdrop-filter: blur(15px);
    border-radius: 12px;
  }
}

.dark-background {
  background: $dark-gradient;
}

// Divider
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #888; // Adjust the color as needed

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #888; // Adjust the line color and thickness as needed
  }

  &__text {
    padding: 0 10px;
  }
}

// Media query for medium screens
@media (min-width: 768px) {
  .page-auth__form {
    width: 60%; // Set width to 60% for medium screens
  }
}

// Media query for large screens
@media (min-width: 992px) {
  .page-auth__form {
    width: 40%; // Set width to 40% for large screens
  }
}