.link {
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  &:hover {
    text-decoration: none;
  }
}
.link-black {
  color: $color-black;
  i {
    color: $color-black;
  }
}
.link-uppercase {
  text-transform: uppercase;
  font-weight: 600;
}

.link-primary {
  color: $color-primary;
}

.label-link {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.label-link__label {
  margin-bottom: 1.5rem;
}
