@mixin spacing($property, $size) {
  #{$property}: map-get($spacings, $size);
}

@each $size, $value in $spacings {
  .p-#{$size} {
    padding: $value !important;
  }
  .pt-#{$size} {
    padding-top: $value !important;
  }
  .pr-#{$size} {
    padding-right: $value !important;
  }
  .pb-#{$size} {
    padding-bottom: $value !important;
  }
  .pl-#{$size} {
    padding-left: $value !important;
  }
  .m-#{$size} {
    margin: $value !important;
  }
  .mt-#{$size} {
    margin-top: $value !important;
  }
  .mr-#{$size} {
    margin-right: $value !important;
  }
  .mb-#{$size} {
    margin-bottom: $value !important;
  }
  .ml-#{$size} {
    margin-left: $value !important;
  }
}

@each $size, $value in $radiuses {
  .br-#{$size} {
    border-radius: $value !important;
  }
}
