@font-face {
  font-family: "Jost";
  src: url("../../assets/fonts/Jost-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JostBold";
  src: url("../../assets/fonts/Jost-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

// text colors
$secondary-text-color: white;
$secondary-text-on-secondary-color: white;
$text-color-on-inverted: white;
$text-color-on-primary: white;
$disabled-text-color: white;
$placeholder-color: $color-dark-grey-40;
$link-color: $color-black;

// font-sizes
$font-sizes: (
  "xs": 10px,
  "sm": 13px,
  "md": 15px,
  "lg": 20px,
  "xl": 24px,
);

$font-size-xs: map-get($font-sizes, "xs");
$font-size-sm: map-get($font-sizes, "sm");
$font-size-md: map-get($font-sizes, "md");
$font-size-lg: map-get($font-sizes, "lg");
$font-size-xl: map-get($font-sizes, "xl");

body > * {
  font-family: "Jost", sans-serif;
}

a {
  color: $color-black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: map-get($font-sizes, "l");
  font-weight: 600;
}

h2 {
  font-size: map-get($font-sizes, "md");
}

h3 {
  font-size: map-get($font-sizes, "sm");
}

h4 {
  font-size: map-get($font-sizes, "xsm");
  text-transform: uppercase;
  font-weight: 600;
}

h5 {
  font-size: map-get($font-sizes, "xsm");
}

.text-primary {
  color: $color-primary;
}

// Labels
.label {
  &--primary {
    color: $color-primary;
  }
  &--black {
    color: $color-black;
  }

  &--yellow {
    color: $color-secondary;
  }
    &--grey {
    color: $color-dark-grey-70;
  }

  // Text Transformation
  &--uppercase {
    text-transform: uppercase;
  }

  &--capitalize {
    text-transform: capitalize;
  }

  &--lowercase {
    text-transform: lowercase;
  }

// Font Sizes
  &-size--xs {
    font-size: $font-size-xs;
  }
  &-size--sm {
    font-size: $font-size-sm;
  }
  &-size--md {
    font-size: $font-size-md;
  }
  &-size--lg {
    font-size: $font-size-lg;
  }
  &-size--xl {
    font-size: $font-size-xl;
  }
  &-font--bold{
    font-family: "JostBold", sans-serif;
  }
}
