
$spacings: (
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 24px,
  6: 32px,
  7: 48px,
  8: 64px,
  9: 96px,
  10: 128px,
);

//borders
$radiuses: (
  "sm": 4px,
  "md": 8px,
  "l": 16px,
  "xl": 24px,
  "xxl": 36px,
);

// font sizes
$font-sizes: (
  "xsm": 13px,
  "sm": 15px,
  "md": 22px,
  "l": 28px,
);